.main-container {
  width: 33%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current {
  color: blue;
}
span {
  font-weight: 900;
}
.main-paragraph {
  font-size: 24px;
}
.button {
  background-color: blue;
  color: aliceblue;
  padding: 12px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.button:hover {
  background-color: #632e2e;
}
.button-container {
  margin: 32px 0;
  display: flex;
  justify-content: center;
}
.temperatures:hover {
  background-color: #fffad0d7;
  border-radius: 8px;
}
